{% extends 'base.html.twig' %}

{% block title %}Inicio de Sesión{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('pages/new_enterprise') }}
{% endblock %}

{% block body %}
<div class="m-0 vh-100 row justify-content-center align-items-center">
    <form method="post" class="card p-5 shadow-lg border-0" style="width: 28rem;">

        {% if error %}
            <div class="alert alert-danger d-flex align-items-center border-0" role="alert">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-0 fw-bold">Inicio de Sesión</h1>
        <p class="text-muted">Por favor, introduce tus datos de acceso para iniciar sesión</p>
        <label for="inputUsername" class="fw-bold">Nombre</label>
        <input
            type="text"
            value="{{ last_username }}"
            name="username"
            id="inputUsername"
            class="form-control rounded border-color mb-3"
            autocomplete="username"
            required
            autofocus
        >
        <label for="inputPassword" class="fw-bold">Contraseña</label>
        <input
            type="password"
            name="password"
            id="inputPassword"
            class="form-control rounded border-color"
            autocomplete="current-password"
            required
        >

        <input
            type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-lg btn-primary rounded mt-4" type="submit">
            Iniciar sesión
        </button>
        <a href="{{ url('app_company') }}" class="btn btn-lg btn-outline-danger rounded mt-3">Volver</a>
    </form>
</div>
{% endblock %}
